/*** Exercise styling ***/
.exercise .theorem-title {
    color: #ff5733;
}

.proof.solution {
    position: relative;
    /* Needed to position the pseudo-element */
}

/* Bottom-right corner line */
.proof.solution::after {
    content: "";
    color: #ff5733;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 30px;
    height: 10px;
    box-sizing: content-box;
    border-right: 2px solid currentColor;
    border-bottom: 2px solid currentColor;
}


/*** Example */
.example .theorem-title {
    color: #00FFFF;
}

.theorem.example {
    position: relative;
    background-color: rgba(0, 255, 255, 0.05);
    /* Neon blue with 30% opacity */
}

/* Listing styling */
.listing-block {
    color: #dddddd;
    background-color: #2b2b2b;
    font-family: monospace;
    border: 1px solid #dddddd;
    padding: 10px;
    border-radius: 3px;
    font-size: 14px;
}